@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

@font-face {
  font-family: 'inter';
  src: url('../fonts/inter.ttf') format('truetype');
}

@font-face {
  font-family: 'samo';
  src: url('../fonts/samo.ttf') format('truetype');
}
