<!-- This file is to make TailwindCSS and Iconify load this extra icons, which are not directly used in any class-->

<i class="icon-[tabler--hash]"></i>
<i class="icon-[tabler--mail]"></i>
<i class="icon-[tabler--link]"></i>
<i class="icon-[tabler--brand-mastodon]"></i>
<i class="icon-[tabler--brand-telegram]"></i>
