# Database connection
DATABASE_URL=postgresql://kycnot:kycnot@localhost:3399/kycnot

# API settings
TOS_API_BASE_URL=https://r.jina.ai

# Logging
LOG_LEVEL=INFO
LOG_FORMAT=%(asctime)s - %(name)s - %(levelname)s - %(message)s 

# OpenAI
OPENAI_API_KEY="xxxxxxxxx"
OPENAI_BASE_URL="https://xxxxxx/api/v1"
OPENAI_MODEL="xxxxxxxxx"
OPENAI_MODEL_FAST="openai/gemini-2.5-flash-preview-05-20"
OPENAI_RETRY=3

# Notifications
NTFY_KYC_CHANGES_URL="https://ntfy.sh/knm-kyc-lvl-changes-knm"

# Task schedules ---------------------------------------------------
CRON_TOSREVIEW_TASK="0 0 1 * *"           # every month
CRON_USER_SENTIMENT_TASK="0 0 * * *"     # daily
CRON_COMMENT_MODERATION_TASK="0 * * * *" # hourly
CRON_FORCE_TRIGGERS_TASK="0 2 * * *"   # daily 02:00
CRON_INACTIVE_USERS_TASK="0 6 * * *"      # daily 06:00
CRON_SERVICE_SCORE_RECALC_TASK="0 0 * * *"      # daily
CRON_SERVICE_SCORE_RECALC_ALL_TASK="0 0 * * *"    # daily